
<html> 
<head>
<link href='scaffolds.scss' rel='stylesheet'>
<ul class="navbar"> 
    <li class="navitem"><a><%= link_to "Logout", logout_path %></a></li> 
    
    <li class="navitem"><a><%= link_to "Create a Post", new_post_path %></a></li>
    <li class="navitem"><a><%= link_to "View All Posts", posts_path %></a></li>
</ul>
</head>


<div class="calendar">
<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= post.name %>
    </div>
  <% end %>
<% end %>
</div>
</html>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.name, post_path(post) %></td>
        <td><%= post.pretty_start %></td>
        <td><%= post.pretty_end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</table>


<h2 style="text-align: center; margin-top: 20px;"> <%= link_to "Create a New #{@platform} Post", new_platform_post_path(@platform_id) %> </h2>


  