
<html> 
<head>

<ul class="navbar"> 
    <li class="navitem"><a><%= link_to "Logout", logout_path %></a></li> 
    <li class="navitem"><a><%= link_to "View All Posts", posts_path %></a></li>
    <li class="navitem"><a><%= link_to "Published Posts", published_path %></a></li>
</ul>
</head>

<div class="calendar">
<%= month_calendar do |date| %>
    <%= date.day %>
  <% end %>
</div>

<div class="new">
<%= form_for @post do |f| %> 
    <div class="label">
    <%= f.label :Name %> 
    </div> 

    <%= f.text_field :name %> 
    

    <div class="label">
    <%= f.label :Description %> 
    </div> 

    <%= f.text_area :description %> 
   

    <div class="label">
    <%= f.label :Start_Time %> 
    </div>

    <%= f.datetime_select :start_time %> 
    
    <div class="label"> 
    <%= f.label :End_Time %> 
    </div>

    <%= f.datetime_select :end_time %> 
 
    <div class="label">
    <%= f.label :Published %> 
    </div> 

    <%= f.check_box :published %>

    <% if @platform %>
      <%= f.hidden_field :platform_id, value: @platform.id %>
    <% else %>
      <div class="label">
      <%= f.label :Choose_a_Platform %> 
      </div>
      <%= f.collection_select :platform_id, Platform.all, :id, :name %>
    <% end %>

   
    <div class="label">
    <%= f.label :Upload_Photos %> 
    </div>
    <%= f.file_field :images, multiple: true %> 
    

    <%= f.submit "Create Post" %> 
    
    <% end %> 
</div>



<center>
<% if @post && @post.errors.any? %> 
  
    <h3 style="color: red; margin-top: 20px;"><%= (@post.errors.count) %> Error(s) prohibited you from creating a Post:</h3>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
</center>

