<html> 
<head>
<link href='scaffolds.scss' rel='stylesheet'>
<ul class="navbar"> 
    <li class="navitem"><a><%= link_to "Logout", logout_path %></a></li> 
    <li class="navitem"><a><%= link_to "View All Posts", posts_path %></a></li>
    <li class="navitem"><a><%= link_to "Create a Post", new_post_path %></a></li>
</ul>
</head>


<div class="calendar">
<%= month_calendar events: @published_posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= post.name %>
    </div>
  <% end %>
<% end %>
</div>
</html>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @published_posts.each do |post| %>
      <tr>
        <td><%= link_to post.name, post_path(post) %></td>
        <td><%= post.start_time %></td>
        <td><%= post.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</table>

<br>

<%=form_tag(published_path, method: :get) do %> 
  <%= text_field_tag(:search, params[:search]) %> 
  <%= submit_tag('Search') %> 
  <% end %> 



<h2 style="margin-left: 50px; margin-top: 20px;">Click to view Posts by a specific Platform!</h2> 

<center style="margin-top: 20px;">

      <h2 style="margin-bottom: 10px;"><%= link_to "Youtube", platform_path(3) %></h2>
      <h2 style="margin-bottom: 10px;"><%= link_to "Twitter", platform_path(1) %> </h2>
      <h2><%= link_to "Instagram", platform_path(2) %> </h2>
    
</center>



